services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: simoc
      POSTGRES_PASSWORD: simoc
      POSTGRES_DB: simoc_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    ports:
      - "6379:6379"